.orderBookItem {
    display: flex;
    align-items: center;
    position: relative;
    display: flex;
    color: var(--white);
    height: var(--gutter5x);
    padding: 0 var(--gutter)
}

.orderBookItemValue {
    width: 100px;
    font-size: 12px;
}

.orderBookItemPriceValue {
    font-weight: bold;
}

.orderBookItemSize {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.2;
}