.orderBookContainer {
    background-color: rgb(20, 21, 26);
    height: 280px;
}

.label {
    display: flex;
    align-items: center;
    color: var(--white);
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 var(--gutter2x);
    height: var(--gutter6x)
}